.User-info-container{
    display: flex;
    background-color: #0cb8b6;
    padding: 2rem;
    justify-content: space-between;
    height: 100%;
}
.user-info-left{
    width: 30%;
    height: 80vh;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.user-info-right{
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    width: 68%;
}

.patient-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.profile-pic{
    height: 6rem;
    width: 6rem;
    border: 8px gray solid;
    border-radius: 50%;
    background: url('../../Assets/user_icon.png') round;
}